{{#each this}}
  <ul class="info-list">
      <h1>{{name}}</h1>
      <li>Capital: {{capital}}</li>
      <li>Population: {{population}}</li>
      <li>Languages:
        {{#each this.languages}}
          <ul>{{name}}</ul>
        {{/each}}
        </li>
  </ul>
  <div class="flag">
      <img src={{flag}} alt="flag" width="400">
  </div>
{{/each}}


